* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,
*::before {
    box-sizing: inherit;
}
:root {
    --primary-050: #d1d0d0; /* サンプル */
    --secondary-050: #161616; /* サンプル */
    --secondary-060: #ff8cd3;
    --dark-087: rgba(0,0,0,0.87);
    --dark-054: rgba(0,0,0,0.54);
    --dark-026: rgba(0,0,0,0.26);
    --dark-012: rgba(0,0,0,0.12);
    --light-100: rgba(255,255,255,1.00);
    --light-070: rgba(255,255,255,0.70);
    --light-030: rgba(255,255,255,0.30);
    --light-012: rgba(255,255,255,0.12);
    --gray-010: #f1f1f1;
    --gray-020: #e4e4e4;

    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-feature-settings: "palt";
}

.global-nav h1 {
    font-size: 1.5rem;
    font-family: 'Georgia', cursive;
    margin-left: 1rem;

    color: var(--primary-050);
    text-shadow: 1px 1px 0 var(--dark-026);
}
section {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

section:nth-child(2n + 1) {
    background-color: var(--primary-050);
    color: var(--secondary-050);
}
.global-nav{
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0 2px 1rem var(--dark-026);
}
.global-nav .menu ul{
  list-style: none;
  display: flex;
  align-items: center;
}
.global-nav .menu ul a{
  color: var(--primary-050);
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  font-size: 1.2rem;
  padding: calc(1.2rem - 4px)2rem;
  transition: color,background-color 0.3s;
  border-right: 1px solid var(--dark-012);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.global-nav .menu ul li:last-child a{
  border-right: none;
}
.global-nav .menu ul a:hover{
  background-color: var(--primary-050);
  color: var(--secondary-050);
  border-bottom: 4px solid var(--secondary-050);
}
#sec2 {
    background-image: linear-gradient(
	-45deg,
	#f5eeed 25%,
	#f4e2de 25%,
	#f4e2de 50%,
	#f5eeed 50%,
	#f5eeed 75%,
	#f4e2de 75%,
	#f4e2de
);
background-size: 40px 40px;
background-attachment: fixed;
}
#sec1{
    background-image: url(profile.jpg);
    background-position: center;
    background-size: cover;
    color: #a1a1a1;
}
#sec3{
    background-image: linear-gradient(
	-45deg,
	#f5eeed 25%,
	#f4e2de 25%,
	#f4e2de 50%,
	#f5eeed 50%,
	#f5eeed 75%,
	#f4e2de 75%,
	#f4e2de
);
background-size: 40px 40px;
background-attachment: fixed;
}
#sec3 iframe{
    width: 100%;
    height: 100%;
}
#gallery {
    max-width: 800px; 
    margin: 0 auto;
    display: flex;    
    flex-flow: wrap;  
  }
  #gallery dl {
    flex: 200px;    
    float: left;    
    width: 300px;  
    margin-right: 5px;
    margin-bottom: 1em;
    padding: 0;
    font-size: 16px;
    background-color:var(--secondary-050) ;
    border:3px solid rgb(5, 5, 5);
    text-align: center;  
    box-sizing: border-box;
  }
  #gallery:after { 
    content: "";
    flex: 200px;
    margin-right: 5px;
    display: block;
  }
  #gallery dl img {
    border: 0;
    width: 100%;
    height: auto;
  }
  #gallery dt {
    margin: 0;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
  #gallery dd {
    margin: 0;
    padding: 0;
  }
  #gallery dd.comment {
    height: 4em;  
    padding: 2px 5px;
    line-height: 1.3;
    text-align: left;
    color: #fff;
  }
  .logo {
    position: relative;
    margin-bottom: 30px;
    padding: 0 20px;
    text-align: center;
  }
  
  .logo-title {
    font-family: "Open sans", sans-serif;
    font-size: 64px;
    line-height: 1;
    letter-spacing: .2em;
  }
  
  .logo-subtitle {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    letter-spacing: .2em;
  }
  .profile-photo img {
    display: block; 
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
  }
  .background-filter {
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1; 
    background-attachment: fixed;
    opacity: 0.75; 
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%); 
  }

  .profile-photo {
    position: relative; 
  }
  .profile-text {
    max-width: 600px; 
    padding: 2rem; 
    color: #fff; 
  }

  .profile-text h1 {
    font-size: 2rem; 
    letter-spacing: 0.1em; 
    color: black
  }
  .profile-text p{
      font-size: 1.5rem;
      color: black
  }
  main2 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  #works-all {
    max-width: 800px; 
    margin: 0 auto;
    display: flex;    
    flex-flow: wrap;  
  }
  #works-all dl {
    flex: 200px;    
    float: left;    
    width: 250px;  
    margin-right: 16px;
    margin-bottom: 1em;
    padding: 0;
    font-size: 16px;
    background-color:var(--secondary-050) ;
    border:3px solid rgb(5, 5, 5);
    text-align: center;  
    box-sizing: border-box;
  }
  #works-all:after { 
    content: "";
    flex: 200px;
    margin-right: 5px;
    display: block;
  }
  #works-all dl img {
    border: 0;
    width: 100%;
    height: auto;
  }
  #works-all dt {
    margin: 0;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
  #works-all dd {
    margin: 0;
    padding: 0;
  }
  #works-all dd.comment {
    height: 4em;  
    padding: 2px 5px;
    line-height: 1.3;
    text-align: left;
    color: #fff;
  }
  .a:hover img{
    transform: scale(1.7);
    transition-duration: 0.5s;
  }
  .b:hover img{
    transform: scale(1.7);
    transition-duration: 0.5s;
  }
  .c:hover img{
    transform: scale(1.7);
    transition-duration: 0.5s;
  }
  h4{
    font-size: 8vw;
  }
  h5{
    font-size: 2vw;
  }
  

  